.allCharactersTrigger > button {
    padding: 16px 30px;
    font-size: 1rem;
    background: #216ce7;
    color: #f9f9f9;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    min-width: 200px;

}

.allCharactersTrigger > button:hover {
    transition: all 0.2s;
    transform: scale(1.10);
    opacity: 1;
    background: #10449A;
}