*{
    box-sizing: border-box;
}

.allCharacters {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 6s infinite alternate linear;
    background-image: url('https://www.denofgeek.com/wp-content/uploads/2020/05/Star-Destroyer.jpg?fit=1920%2C1080');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.allCharactersList > button {
    padding: 16px 30px;
    font-size: 1rem;
    background: #216ce7;
    color: #f9f9f9;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}

.allCharactersList > button:hover {
    transition: all 0.2s;
    transform: scale(1.10);
    opacity: 1;
    background: #10449A;
}

.allCharactersCard {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
}

.allCharactersCard > h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;

}

.allCharactersList {
    width: 100%;
    margin: 0;
    display: grid;
     gap: 16px;
}

.allCharactersList-form> button {
    width: 100%;
}

@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}

@media (width >= 500px) {
    body{
        padding: 0;
    }
    .allCharactersCard{
        margin: 0;
        width: 400px;
    }
}