*{
    box-sizing: border-box;
}

.allMoviesDisplay {
    background-image: url('https://www.denofgeek.com/wp-content/uploads/2020/05/Star-Destroyer.jpg?fit=1920%2C1080');
    height: 100vh;
    animation: rotate 6s infinite alternate linear;
    display: grid;
    place-items: center;
    margin: 0;
    color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.allMoviesCard {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    place-items: center;
    text-align: center;
}

.allMoviesList > button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #216ce7;
    color: #f9f9f9;
    margin-top: 20px;
    padding: 16px 30px;
    font-size: 1rem;
    width: 400px;
}

.allMoviesList > button:hover {
    transform: scale(1.25);
    opacity: 1;
    transition: all 0.2s;
    background: #10449A;
}

.allMoviesList {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    place-items: center;
}

@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}

@media (width >= 500px) {
    body{
        padding: 0;
    }
    .allMoviesCard{
        margin: 0;
        width: 600px;
    }
}