.homeButton > button {
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.homeButton > button:hover {
    background: #10449A;
    transition: all 0.2s;
    transform: scale(1.05);
    opacity: 1;
}